.list {
  list-style-type: none; /* Remove bullets */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  .listItem {
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0;
    &:nth-child(even) {
      background-color: #eee;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
    }
    .description {
      padding-left: 0.25rem;
    }
    .actions {
      display: flex;
      margin-left: auto;
      .button {
        width: 3rem;
        background-color: greenyellow;
        border: 1px solid black;
        border-radius: 1rem;
        color: black;
        padding: 0.2rem;
        margin: 0 0.2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

